.searchbar{
    size: 500px;
}
.home{
    /* display: flex; */
    max-width: 100%;
    height: 10px;
display: inline-flex;
    
}
.home-li{
    size-adjust: auto;
    display: inline-flex;
    padding: 50px;
}
.carousel-item{
    width: 80%;
    height: 40%;
}